<ng-container *ngIf="!isEditMode">
  <span *ngIf="!isPercent" class="editable" (click)="enableEditMode()" title="{{value}}">
    <app-small-button *ngIf="!value" icon="bi-pencil" (buttonClicked)="enableEditMode()"></app-small-button>
    {{value}}
  </span>
  <span *ngIf="isPercent" class="editable" (click)="enableEditMode()" title="{{value | percent : '1.1-1'}}">
    <app-small-button *ngIf="!value" icon="bi-pencil" (buttonClicked)="enableEditMode()"></app-small-button>
    {{value | percent : '1.1-1'}}
  </span>
</ng-container>
<div *ngIf="isEditMode" [ngClass]="isPercent ? 'd-flex': ''">
  <input type="number"
    (keydown)="inputFieldKeyDown($event)"
    (blur)="saveClick(true)"
    #inputField
  />
  <span *ngIf="isPercent">%</span>
</div>