<div *ngIf="isEditMode" class="input-group">
  <input type="number" class="form-control input-group-item" [value]="isPercent ? value * 100 : value" (keydown)="inputFieldKeyDown($event)" #inputField />
  <span *ngIf="isPercent" class="input-group-item">%</span>
  <button class="btn btn-outline-success input-group-item btn-sm" (click)="saveClick()">
    <i class="bi bi-check2"></i>
  </button>
  <button class="btn btn-outline-danger input-group-item btn-sm" (click)="disableEditMode()">
    <i class="bi bi-x"></i>
  </button>
</div>
<div *ngIf="!isEditMode" class="d-flex flex-row px-2">
  <div class="d-block align-self-center me-2">
    <span *ngIf="!isPercent">
      {{value}}
    </span>
    <span *ngIf="isPercent">
      {{value | percent}}
    </span>
  </div>
  <button *ngIf="!isEditMode" class="btn btn-light btn-sm" aria-label="Edytuj" (click)="enableEditMode()">
    <i class="bi bi-pencil"></i>
  </button>
</div>