<td>
  <input type="text" class="form-control" [(ngModel)]="asset.name" #nameField/>
</td>
<td>
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [(ngModel)]="asset.moneySpent" />
    <span class="input-group-text">{{wallet.currency | currencySymbol}}</span>
  </div>
</td>
<td>
  <input type="number" class="form-control" [(ngModel)]="asset.count" />
</td>
<td>
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [(ngModel)]="asset.currentValuePerUnit" />
    <span class="input-group-text">{{wallet.currency | currencySymbol}}</span>
  </div>
</td>
<td class="align-middle">
  {{asset.currentValuePerUnit * asset.count | currency : wallet.currency : 'symbol-narrow'}}
</td>
<td class="align-middle">
  {{asset.currentValuePerUnit * asset.count - asset.moneySpent | currency : wallet.currency : 'symbol-narrow'}}
</td>
<td class="align-middle">
  {{(asset.currentValuePerUnit * asset.count - asset.moneySpent) / asset.moneySpent | percent}}
</td>
<td></td>
<td>
  <div class="input-group">
    <button class="btn btn-outline-success input-group-item" title="Zapisz" (click)="saveAsset()">
      <i class="bi bi-check2"></i>
    </button>
    <button class="btn btn-outline-danger input-group-item" title="Zapisz" (click)="close()">
      <i class="bi bi-x"></i>
    </button>
  </div>
</td>