<table class="table table-sm table-hover">
  <thead>
    <th>Aktywo</th>
    <th>Wpłacone pieniądze</th>
    <th>Liczba zakupionych jednostek</th>
    <th>Aktualna wartość jednostkowa</th>
    <th>Aktualna wartość</th>
    <th>Zysk</th>
    <th>% zysku</th>
    <th>% zawartości portfela</th>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assets" app-assets-list-item [asset]="asset" [walletCurrency]="walletCurrency">
    </tr>
  </tbody>
  <tfoot>
    <th scope="row">Razem</th>
    <td>{{getTotalMoneySpent() | currency : walletCurrency : 'symbol-narrow'}}</td>
    <td></td>
    <td></td>
    <td>{{getTotalCurrentValue() | currency : walletCurrency : 'symbol-narrow'}}</td>
    <td>{{getTotalProfit() | currency : walletCurrency : 'symbol-narrow'}}</td>
    <td>{{getTotalPercentageProfit() | percent}}</td>
    <td></td>
  </tfoot>
</table>