<table class="table table-sm table-hover">
  <thead>
    <th>Aktywo</th>
    <th>Wpłacone pieniądze</th>
    <th>Liczba zakupionych jednostek</th>
    <th>Aktualna wartość jednostkowa</th>
    <th>Aktualna wartość</th>
    <th>Zysk</th>
    <th>% zysku</th>
    <th>% zawartości portfela</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let asset of wallet.assets | async" app-assets-list-item [asset]="asset" [wallet]="wallet">
    </tr>
    <tr *ngIf="!isNewAssetVisible">
      <td>
        <div class="d-flex flex-row">
          <button class="btn btn-light" (click)="isNewAssetVisible = true" title="Nowe aktywo">
            <i class="bi bi-file-earmark-plus"></i>
          </button>
          <button class="btn btn-light">
            <i class="bi bi-folder-plus"></i>
          </button>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngIf="isNewAssetVisible" app-new-asset-row [wallet]="wallet" (onClose)="isNewAssetVisible = false">
    </tr>
  </tbody>
  <tfoot>
    <th scope="row">Razem</th>
    <td>{{wallet.totalMoneySpent | currency : wallet.currency : 'symbol-narrow'}}</td>
    <td></td>
    <td></td>
    <td>{{wallet.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}}</td>
    <td>{{wallet.totalProfit | currency : wallet.currency : 'symbol-narrow'}}</td>
    <td>{{wallet.totalPercentageProfit | percent}}</td>
    <td></td>
    <td></td>
  </tfoot>
</table>