<div class="align-middle col-2">Razem</div>
<div class="align-middle col">{{wallet.totalMoneySpent | currency : wallet.currency : 'symbol-narrow'}}</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">{{wallet.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}}</div>
<div class="align-middle col">{{wallet.totalProfit | currency : wallet.currency : 'symbol-narrow'}}</div>
<div class="align-middle col">{{wallet.totalPercentageProfit | percent}}</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>