<td class="align-middle">Razem</td>
<td class="align-middle">{{wallet.totalMoneySpent | currency : wallet.currency : 'symbol-narrow'}}</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle">{{wallet.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}}</td>
<td class="align-middle">{{wallet.totalProfit | currency : wallet.currency : 'symbol-narrow'}}</td>
<td class="align-middle">{{wallet.totalPercentageProfit | percent}}</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle bg-primary bg-opacity-10">&nbsp;</td>
<td class="align-middle bg-primary bg-opacity-10">&nbsp;</td>
<td class="align-middle">&nbsp;</td>