<span *ngIf="!isEditMode" class="editable" (click)="enableEditMode()" title="{{value | currency : currency : 'symbol-narrow'}}">
  <app-small-button *ngIf="!value" icon="bi-pencil" (buttonClicked)="enableEditMode()"></app-small-button>
  {{value | currency : currency : 'symbol-narrow'}}
</span>
<div *ngIf="isEditMode" class="d-flex">
  <input type="number" [value]="value" (keydown)="inputFieldKeyDown($event)" (blur)="saveClick(true)" #inputField />
  <span>{{currency | currencySymbol}}</span>
</div>