<div class="mt-2">
  <div class="row border-bottom align-items-center bg-secondary bg-opacity-10">
    <div class="align-middle col-2 fw-bold d-flex align-items-center btn" (click)="areDetailsVisible = !areDetailsVisible">
      <div>
        <i *ngIf="!areDetailsVisible" class="bi bi-caret-right-fill"></i>
        <i *ngIf="areDetailsVisible" class="bi bi-caret-down-fill"></i>
      </div>
      <app-text-field [value]="container.name!" (save)="container.name = $event; saveWallet()"></app-text-field>
    </div>
    <div class="align-middle col fw-semibold">{{container.totalMoneySpent | currency : wallet.currency : 'symbol-narrow'}}</div>
    <div class="align-middle col">&nbsp;</div>
    <div class="align-middle col">&nbsp;</div>
    <div class="align-middle col fw-semibold">{{container.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}}</div>
    <div class="align-middle col fw-semibold">{{container.totalProfit | currency : wallet.currency : 'symbol-narrow'}}</div>
    <div class="align-middle col fw-semibold">{{container.totalPercentageProfit | percent}}</div>
    <div class="align-middle col fw-semibold">{{container.walletRatio | percent}}</div>
    <div class="align-middle col"><app-delete-button [item]="container" (deleteConfirmed)="deleteContainer($event)"></app-delete-button></div>
  </div>
  <div *ngIf="areDetailsVisible" class="row">
    <div class="row border-bottom align-items-center" [ngClass]="even ? '' :'bg-light'" *ngFor="let asset of container.assets; let even = even" app-asset-info [asset]="asset" [wallet]="wallet" [container]="container" [inner]="true"></div>
    <div *ngIf="!isNewAssetVisible" class="row border-bottom align-items-center" app-new-items-buttons (newAssetClicked)="isNewAssetVisible = true" [containerButton]="false"></div>
    <div *ngIf="isNewAssetVisible" class="row border-bottom align-items-center fst-italic" app-new-asset-row [wallet]="wallet" [parent]="container" (onClose)="isNewAssetVisible = false"></div>
  </div>
</div>