<div class="align-middle col-2">
  <input type="text" class="form-control" [(ngModel)]="assetContainer.name" #nameField (keydown)="keyDown($event)"/>
</div>
<div class="align-middle col">
  <div class="input-group">
    <button class="btn btn-outline-success input-group-item" title="Zapisz" (click)="saveAssetContainer()">
      <i class="bi bi-check2"></i>
    </button>
    <button class="btn btn-outline-danger input-group-item" title="Zapisz" (click)="close()">
      <i class="bi bi-x"></i>
    </button>
  </div>
</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col">&nbsp;</div>