<td class="align-middle">
  <input type="text" class="form-control" [(ngModel)]="assetContainer.name" #nameField (keydown)="keyDown($event)"/>
</td>
<td class="align-middle">
  <div class="input-group">
    <button class="btn btn-outline-success input-group-item" title="Zapisz" (click)="saveAssetContainer()">
      <i class="bi bi-check2"></i>
    </button>
    <button class="btn btn-outline-danger input-group-item" title="Zapisz" (click)="close()">
      <i class="bi bi-x"></i>
    </button>
  </div>
</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle bg-primary bg-opacity-10">&nbsp;</td>
<td class="align-middle">&nbsp;</td>