<ng-container *ngIf="wallet">
  <h1>{{wallet.name}} ({{wallet.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}})</h1>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <label class="me-2 align-self-center">
        Waluta portfela:
      </label>
      <ng-select [items]="consts.currencies"
        bindLabel="name"
        bindValue="symbol"
        [(ngModel)]="wallet.currency"
        [clearable]="false"
        (change)="updateWallet(wallet)">
      </ng-select>
    </div>
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr class="align-items-center fw-bold" app-list-header></tr>
      </thead>
      <tbody>
        <tr class="align-items-center" *ngFor="let asset of wallet.assets" app-asset-info [asset]="asset" [wallet]="wallet"></tr>
        <tr *ngIf="!isNewAssetVisible(wallet.id!) && !isNewContainerVisible" class="align-items-center" app-new-items-buttons (newAssetClicked)="showNewAsset(wallet.id!, true)" (newContainerClicked)="isNewContainerVisible = true"></tr>
        <tr *ngIf="isNewAssetVisible(wallet.id!)" class="align-items-center fst-italic" app-new-asset-row [wallet]="wallet" [parent]="wallet" (onClose)="showNewAsset(wallet.id!, false)"></tr>
        <ng-container *ngFor="let container of wallet.assetsContainers" >
          <tr class="align-items-center bg-info bg-opacity-25" app-container-details [container]="container" [wallet]="wallet" (detailsVisibilityChanged)="showDetails(container.id!, $event)"></tr>
          <ng-container *ngIf="areDetailsVisible(container.id!)">
            <tr class="align-items-center" *ngFor="let asset of container.assets" app-asset-info [asset]="asset" [wallet]="wallet" [container]="container" [inner]="true"></tr>
            <tr *ngIf="!isNewAssetVisible(container.id!)" class="align-items-center" app-new-items-buttons (newAssetClicked)="showNewAsset(container.id!, true)" [containerButton]="false"></tr>
            <tr *ngIf="isNewAssetVisible(container.id!)" class="align-items-center fst-italic" app-new-asset-row [wallet]="wallet" [parent]="container" (onClose)="showNewAsset(container.id!, false)"></tr>
          </ng-container>
        </ng-container>
        <tr *ngIf="isNewContainerVisible" class="align-items-center fst-italic" app-new-container-row [wallet]="wallet" (onClose)="isNewContainerVisible = false"></tr>
      </tbody>
      <tfoot>
        <tr class="align-items-center fw-bold fs-5" app-wallet-summary [wallet]="wallet"></tr>
      </tfoot>
    </table>
  </div>
</ng-container>