<ng-container *ngIf="wallet">
  <div class="wallet-header">
    <div class="align-self-center ms-2">
      <h1>{{wallet.name}} ({{wallet.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}})</h1>
    </div>
    <div class="d-flex flex-row align-self-center ms-5">
      <label class="me-2 align-self-center">
        Waluta portfela:
      </label>
      <ng-select [items]="consts.currencies"
        bindLabel="name"
        bindValue="symbol"
        [(ngModel)]="wallet.currency"
        [clearable]="false"
        (change)="updateWallet(wallet)">
      </ng-select>
    </div>
  </div>
  <div class="wallet-body">
    <div class="assets-table" app-assets-table [wallet]="wallet"></div>
  </div>
</ng-container>