<ng-container *ngIf="wallet">
  <h1>{{wallet.name}}</h1>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <label class="me-2 align-self-center">
        Waluta portfela:
      </label>
      <ng-select [items]="consts.currencies"
        bindLabel="name"
        bindValue="symbol"
        [(ngModel)]="wallet.currency"
        [clearable]="false"
        (change)="updateWallet(wallet)">
      </ng-select>
    </div>
    <div class="mt-2">
      <app-assets-list *ngIf="isAssetsVisible" [wallet]="wallet"></app-assets-list>
    </div>
  </div>
</ng-container>