<td class="align-middle">
  <input type="text" class="form-control" [(ngModel)]="asset.name" #nameField (keydown)="keyDown($event)"/>
</td>
<td class="align-middle">
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [(ngModel)]="asset.moneySpent" (keydown)="keyDown($event)"/>
    <span class="input-group-text">{{wallet.currency | currencySymbol}}</span>
  </div>
</td>
<td class="align-middle">
  <input type="number" class="form-control" [(ngModel)]="asset.count" />
</td>
<td class="align-middle">
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [(ngModel)]="asset.currentValuePerUnit" (keydown)="keyDown($event)"/>
    <span class="input-group-text">{{wallet.currency | currencySymbol}}</span>
  </div>
</td>
<td class="align-middle">
      {{asset.currentValuePerUnit * asset.count | currency : wallet.currency : 'symbol-narrow'}}
</td>
<td class="align-middle">
  {{asset.currentValuePerUnit * asset.count - asset.moneySpent | currency : wallet.currency : 'symbol-narrow'}}
</td>
<td class="align-middle">
  {{(asset.currentValuePerUnit * asset.count - asset.moneySpent) / asset.moneySpent | percent}}
</td>
<td class="align-middle">&nbsp;</td>
<td class="align-middle bg-primary bg-opacity-10 text-muted model">
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [value]="asset.modelRatio * 100" (keydown)="keyDown($event)" #modelRatioField />
    <span class="input-group-item align-self-center">%</span>
  </div>
</td>
<td class="align-middle bg-primary bg-opacity-10 text-muted model"></td>
<td class="align-middle">
  <div class="input-group">
    <button class="btn btn-outline-success input-group-item" title="Zapisz" (click)="saveAsset()">
      <i class="bi bi-check2"></i>
    </button>
    <button class="btn btn-outline-danger input-group-item" title="Zapisz" (click)="close()">
      <i class="bi bi-x"></i>
    </button>
  </div>
</td>