<div class="align-middle col-2">
  <input type="text" class="form-control" [(ngModel)]="asset.name" #nameField (keydown)="keyDown($event)"/>
</div>
<div class="align-middle col">
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [(ngModel)]="asset.moneySpent" (keydown)="keyDown($event)"/>
    <span class="input-group-text">{{wallet.currency | currencySymbol}}</span>
  </div>
</div>
<div class="align-middle col">
  <input type="number" class="form-control" [(ngModel)]="asset.count" />
</div>
<div class="align-middle col">
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [(ngModel)]="asset.currentValuePerUnit" (keydown)="keyDown($event)"/>
    <span class="input-group-text">{{wallet.currency | currencySymbol}}</span>
  </div>
</div>
<div class="align-middle col">
  {{asset.currentValuePerUnit * asset.count | currency : wallet.currency : 'symbol-narrow'}}
</div>
<div class="align-middle col">
  {{asset.currentValuePerUnit * asset.count - asset.moneySpent | currency : wallet.currency : 'symbol-narrow'}}
</div>
<div class="align-middle col">
  {{(asset.currentValuePerUnit * asset.count - asset.moneySpent) / asset.moneySpent | percent}}
</div>
<div class="align-middle col">&nbsp;</div>
<div class="align-middle col bg-light model">
  <div class="input-group">
    <input type="number" class="form-control input-group-item" [value]="asset.modelRatio * 100" (keydown)="keyDown($event)" #modelRatioField />
    <span class="input-group-item">%</span>
  </div>
</div>
<div class="align-middle col">
  <div class="input-group">
    <button class="btn btn-outline-success input-group-item" title="Zapisz" (click)="saveAsset()">
      <i class="bi bi-check2"></i>
    </button>
    <button class="btn btn-outline-danger input-group-item" title="Zapisz" (click)="close()">
      <i class="bi bi-x"></i>
    </button>
  </div>
</div>