<nav>
  <div class="sidebar">
    <app-wallets-list></app-wallets-list>
    <div>
      <button class="btn btn-outline-info" (click)="downloadBackup()">
        <i class="bi bi-box-arrow-down"></i>
      </button>
      <input style="display: none" type="file" class="file-input" (change)="uploadBackup($event)" #fileUpload>
      <button class="btn btn-outline-warning" (click)="fileUpload.click();">
        <i class="bi bi-paperclip"></i>
        <i class="bi bi-box-arrow-up"></i>
      </button>
      <button class="btn btn-outline-success" (click)="uploadToFirestore()">
        <i *ngIf="!isFirestoreUploadCompleted" class="bi bi-cloud-arrow-up"></i>
        <i *ngIf="isFirestoreUploadCompleted" class="bi bi-cloud-check"></i>
      </button>
    </div>
  </div>
</nav>
