<div class="align-middle col-2 d-flex align-items-center fw-semibold fs-6">
  <i *ngIf="inner" class="bi bi-dash-lg"></i>
  <app-text-field [value]="asset.name" (save)="asset.name = $event; saveWallet()"></app-text-field>
</div>
<div class="align-middle col">
  <app-currency-field [value]="asset.moneySpent" [currency]="wallet.currency" (save)="asset.moneySpent = $event; saveWallet();"></app-currency-field>
</div>
<div class="align-middle col">
  <app-number-field [value]="asset.count" (save)="asset.count = $event; saveWallet();"></app-number-field>
</div>
<div class="align-middle col">
  <app-currency-field [value]="asset.currentValuePerUnit" [currency]="wallet.currency" (save)="asset.currentValuePerUnit = $event; saveWallet();"></app-currency-field>
</div>
<div class="align-middle col fw-semibold fs-6">
  {{asset.currentTotalValue | currency : wallet.currency : 'symbol-narrow'}}
</div>
<div class="align-middle col">
  {{asset.profit | currency : wallet.currency : 'symbol-narrow'}}
</div>
<div class="align-middle col">
  {{asset.percentageProfit | percent}}
</div>
<div class="align-middle col">
  {{asset.walletRatio | percent}} <span *ngIf="container" class="ms-2 fst-italic text-black-50">{{asset.containerRatio | percent}}</span>
</div>
<div class="align-middle col bg-light model">
  <app-number-field [value]="asset.modelRatio" (save)="asset.modelRatio = $event; saveWallet();" [isPercent]="true"></app-number-field>
</div>
<div class="align-middle col">
  <app-delete-button [item]="asset" (deleteConfirmed)="deleteAsset($event)"></app-delete-button>
</div>