<div class='assets-table-row fw-bold'>
  <div class='assets-table-cell-margin'></div>
  <div class="assets-table-cell-collapse"></div>
  <div class='assets-table-cell f-2 text-start' title="Nazwa aktywa">Aktywo</div>
  <div class="assets-table-cell-action text-end" title="Dodaj nową grupę aktywów">
    <app-small-button icon="bi-folder-plus" (buttonClicked)="createContainerClicked.emit()"></app-small-button>
  </div>
  <div class='assets-table-cell text-end' title="Koszt zakupu">Koszt</div>
  <div class='assets-table-cell text-end' title="Liczba posiadanych jednostek">Liczba</div>
  <div class='assets-table-cell text-end' title="Aktualna wartość jednostkowa">Cena j.</div>
  <div class='assets-table-cell text-end' title="Aktualna wartość całkowita">Wartość</div>
  <div class='assets-table-cell text-end' title="Zysk">Zysk</div>
  <div class='assets-table-cell text-end' title="% zysku">% zysku</div>
  <div class='assets-table-cell text-end' title="Ile % stanowi w portfelu">% portfela</div>
  <div class='assets-table-cell text-end bg-primary bg-opacity-10' title="Ile % portfela powinno stanowić wg modelu">Model %</div>
  <div class='assets-table-cell text-end bg-primary bg-opacity-10' title="Wskazówka rebalancingu">Rebalancing</div>
  <div class="assets-table-cell-action text-end" title=""></div>
  <div class='assets-table-cell-margin'></div>
</div>