<th scope="row">
  <app-text-field [value]="asset.name!" (save)="asset.name = $event.toString(); updateAsset(asset);"></app-text-field>
</th>
<td>
  <app-currency-field [value]="asset.moneySpent" [wallet]="wallet" (save)="asset.moneySpent = $event; updateAsset(asset);"></app-currency-field>
</td>
<td>
  <app-number-field [value]="asset.count" (save)="asset.count = $event; updateAsset(asset);"></app-number-field>
</td>
<td>
  <app-currency-field [value]="asset.currentValuePerUnit" [wallet]="wallet" (save)="asset.currentValuePerUnit = $event; updateAsset(asset);"></app-currency-field>
</td>
<td class="align-middle">
  {{asset | assetCurrentTotalValue | currency : wallet.currency : 'symbol-narrow'}}
</td>
<td class="align-middle">
  {{asset | assetProfitPipe | currency : wallet.currency : 'symbol-narrow'}}
</td>
<td class="align-middle">
  {{asset | assetProfitPipe : true | percent}}
</td>
<td class="align-middle">
  {{asset | assetPercentageInWallet : wallet | percent}}
</td>