<td class="align-middle">
  <button class="btn btn-light" title="Dodaj aktywo" (click)="newAssetClicked.emit()">
    <i class="bi bi-file-plus"></i>
  </button>
  <button *ngIf="containerButton" class="btn btn-light" title="Dodaj grupę aktywów" (click)="newContainerClicked.emit()">
    <i class="bi bi-folder-plus"></i>
  </button>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="bg-primary bg-opacity-10"></td>
<td class="bg-primary bg-opacity-10"></td>
<td></td>