$magnolia: #eae4e9ff;
$linen: #fff1e6ff;
$misty-rose: #fde2e4ff;
$mimi-pink: #fad2e1ff;
$mint-cream: #e2ece9ff;
$powder-blue: #bee1e6ff;
$isabelline: #f0efebff;
$lavender-web: #dfe7fdff;
$periwinkle-crayola: #cddafdff;
$baby-powder: #fffffcff;


$sidebar-color: $periwinkle-crayola;
$divider-color: $magnolia;
$assets-container-color: $mint-cream;
$hover-row-color: $isabelline;
$wallets-list-color: $lavender-web;
$walletBackground: $baby-powder;
$walletHeaderBackground: $lavender-web;
$hoveredButton: $powder-blue;
$inputBackground: $linen;